/* Resets component */
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	touch-action: manipulation;
	box-sizing: border-box;
}

*, *:after, *:before {
	box-sizing: inherit
}

body, form, fieldset, legend, input, select, textarea, button {
	margin: 0;
}

[hidden], template {
	display: none;
}

body {
	min-width: 320px;
}

*:focus {
	outline: 0;
}

.keyboard-focus:focus {
	outline: 3px solid $focus-color;
}

fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

legend {
	padding: 0;
}

input, textarea, button, select, label, a, div {
	-webkit-tap-highlight-color: transparent;
}

input:invalid {
	box-shadow: none;
}

input::-ms-clear {
	display: none;
}

select::-ms-expand {
	display: none;
}

button::-moz-focus-inner, input::-moz-focus-inner, input::-moz-focus-outer {
	border: none;
	outline: none;
}
