# Do not show directory indexes
Options -Indexes

# Follow symbolic links
Options +FollowSymLinks

# Force WWW
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Force HTTPS connection 
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Enable browser caching
<ifModule mod_headers.c>

	# Cache image and video files
	<filesMatch ".(gif|ico|jpg|jpeg|mp4|png|svg|webp)$">
		Header set Cache-Control "max-age=2592000, public"
	</filesMatch>

	# Cache JS files
	<filesMatch ".(js)$">
		Header set Cache-Control "max-age=2592000, public"
	</filesMatch>

	# Cache CSS files
	<filesMatch ".(css)$">
		Header set Cache-Control "max-age=2592000, public"
	</filesMatch>
</ifModule>

# Compress HTML, CSS and JavaScript
<ifmodule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html text/css application/javascript
</ifmodule>