.offline {
	display: none;
	padding: $box-padding;
	background-color: map-val($states, warning, bg-color);
	color: map-val($states, warning, fg-color);
	text-align: center;
}

body.is-offline .offline {
	display: block;
}
